<div class="ms-card-container">
  <div class="ms-card-container__header">
    <h1>{{editing? 'Editar laptop':'Agregar laptop'}}</h1>
  </div>
  <form class="modal-form" [formGroup]="laptopForm" (ngSubmit)="sendLaptop()">
    <div class="row">
      <div class="col-md-6">
        <label for="codigo" class="form-label">Codigo</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="codigo" formControlName="codigo" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.codigo.invalid && (f.codigo.dirty || f.codigo.touched)">

          <div class="alert alert-danger" *ngIf="f.codigo.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.codigo.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
      <div class="col-md-6">
        <label for="marca" class="form-label">Marca</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="marca" formControlName="marca" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.marca.invalid && (f.marca.dirty || f.marca.touched)">

          <div class="alert alert-danger" *ngIf="f.marca.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.marca.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="nombre" formControlName="nombre" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.nombre.invalid && (f.nombre.dirty || f.nombre.touched)">

          <div class="alert alert-danger" *ngIf="f.nombre.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.nombre.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
      <div class="col-md-6">
        <label for="cpu" class="form-label">Cpu</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="cpu" formControlName="cpu" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.cpu.invalid && (f.cpu.dirty || f.cpu.touched)">

          <div class="alert alert-danger" *ngIf="f.cpu.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.cpu.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="ranura" class="form-label">Ranura</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="ranura" formControlName="ranura" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.ranura.invalid && (f.ranura.dirty || f.ranura.touched)">

          <div class="alert alert-danger" *ngIf="f.ranura.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.ranura.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
      <div class="col-md-6">
        <label for="ram" class="form-label">Ram</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="ram" formControlName="ram" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.ram.invalid && (f.ram.dirty || f.ram.touched)">

          <div class="alert alert-danger" *ngIf="f.ram.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.ram.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="ssd_hdd" class="form-label">SSD/HDD</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="ssd_hdd" formControlName="ssd_hdd" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.ssd_hdd.invalid && (f.ssd_hdd.dirty || f.ssd_hdd.touched)">

          <div class="alert alert-danger" *ngIf="f.ssd_hdd.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.ssd_hdd.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
      <div class="col-md-6">
        <label for="responsable" class="form-label">Responsable</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="responsable" formControlName="responsable" maxlength="60"
            required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.responsable.invalid && (f.responsable.dirty || f.responsable.touched)">

          <div class="alert alert-danger" *ngIf="f.responsable.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.responsable.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="backup" class="form-label">Backup</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="backup" formControlName="backup" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.backup.invalid && (f.backup.dirty || f.backup.touched)">

          <div class="alert alert-danger" *ngIf="f.backup.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.backup.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
      <div class="col-md-6">
        <label for="so" class="form-label">So</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="so" formControlName="so" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.so.invalid && (f.so.dirty || f.so.touched)">

          <div class="alert alert-danger" *ngIf="f.so.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.so.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
    </div>
    <div class="row">

      <div class="col-md-6">
        <label for="estado" class="form-label">Estado</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="estado" formControlName="estado" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.estado.invalid && (f.estado.dirty || f.estado.touched)">

          <div class="alert alert-danger" *ngIf="f.estado.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.estado.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
      <div class="col-md-6">
        <label for="modelo" class="form-label">Modelo</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="modelo" formControlName="modelo" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.modelo.invalid && (f.modelo.dirty || f.modelo.touched)">

          <div class="alert alert-danger" *ngIf="f.modelo.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.modelo.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
    </div>
    <div class="row">

      <div class="col-md-6">
        <label for="sn" class="form-label">SN</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="sn" formControlName="sn" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.sn.invalid && (f.sn.dirty || f.sn.touched)">

          <div class="alert alert-danger" *ngIf="f.sn.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.sn.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
      <div class="col-md-6">
        <label for="ubicacion" class="form-label">Ubicacion</label>
        <div class="input-group mb-3">
          <span class="input-group-icon"><i class="far fa-user"></i></span>
          <input type="text" class="form-control" name="ubicacion" formControlName="ubicacion" maxlength="60" required>
        </div>
        <!-- Alerta              comienza            -->
        <div *ngIf="f.ubicacion.invalid && (f.ubicacion.dirty || f.ubicacion.touched)">

          <div class="alert alert-danger" *ngIf="f.ubicacion.errors.required">
            Este campo es obligatorio.
          </div>
          <div class="alert alert-danger" *ngIf="f.ubicacion.errors.maxlength">
            El Nombre no puede contener mas de 50 caracteres.
          </div>

        </div>
        <!-- Alerta       termina                  -->

      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-12">
        <label for="description" class="form-label">Descripción</label>
        <div class="input-group mb-3">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"
            formControlName="description"></textarea>
        </div>
        <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)">
          <div class="alert alert-danger" *ngIf="f.description.errors.required">
            Este campo es obligatorio.
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-6 ofset-md-3">
        <div class="modal-form__actions">
          <a class="btn btn-secondary" style="min-width: 172px;" routerLink="/administracion/laptops">Cancelar</a>
          <button type="submit" class="btn btn-primary" style="min-width: 172px;">{{editing? 'Guardar':
            'Agregar'}}</button>
        </div>
      </div>
    </div>
  </form>
</div>